
server:
  port: 8080

spring:
  application:
    name: demo-eureka-client-a

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true # Optional, for preferring IP address in registration

springdoc:
  api-docs:
      path: /api-docs
  swagger-ui:
      path: /swagger-ui.html

logging:
  level:
    org:
      springdoc: DEBUG


